@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<Octopus_project.Models.ApplicationUser>

<table class="table">
    <tr>
        <td>Id</td>
        <td>E-mail</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Registration Date</td>
        <td>Avatar</td>
        <td>Roles</td>
    </tr>
    @foreach (var user in Model)
    {

        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>@user.Name</td>
            <td>@user.Surname</td>
            <td>@user.RegistrationDate.ToShortDateString()</td>
            <td>@Html.Raw("<img src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(user.Avatar) + "\" />")</td>
            <!--Some problems here-->
            <td>
                @foreach (var role in user.Roles)
                {
                    @role.RoleId
                    <br />
                }
            </td>
        </tr>
    }
</table>